body{
    font-family: "Roboto",sans-serif;
    margin: 0;
    min-height: 100vh;
}
ul{
    list-style: none;
}
.container{
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    gap: 0;
    flex: 1;
}
.header, .first, .footer{
    background-color: #1F2937;
}
.header{
    color: #F9FAF8;
    padding: 0 8px;
    align-items: center;
    justify-content: space-between;
    display: flex;
}
a{
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}
ul{
    display: flex;
}
.third, .fourth,.second{
    background-color: #e5e7eb;
}
.first{
    color: #F9FAF8;
    display: flex;
    align-items: center;
    gap: 70px;
}
.footer{
    color: #F9FAF8;
}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.hero{
    font-size: 48px;
    font-weight: bolder;
}
.big{
    width: 400px;
    height: auto;
}
.simg{
    width: 120px;
    height: auto;
}
button{
    background-color: #3882f6;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: 500;
}
.images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}
.sbox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sechead{
    display: flex;
    justify-content: center;
    align-items: center;
}